<template>
  <div>
    Welcome home<br>
    Test links:
    <ul>
      <li v-for="user in users" 
          :key="user.id"
          
      >
        <router-link :to="{ name: 'userProfile', params: { id: user.id }}">{{ user.username }} {{ user.id }}</router-link>
    
      </li>
    </ul>

  </div>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  computed: {
    ...mapGetters([
      'users',
    ]),
  },
  mounted() {
    this.$store.dispatch('getUsers');
    // console.log('Component mounted.');
    // this.echo = new Echo({
    //   broadcaster: 'socket.io',
    //   host: window.location.hostname + ':3000',
    // });
  },

};
</script>
