<template>
<div>
    <header class="major">
        <h2>Sign in</h2>
    </header>
    <div class="row">
        <div class="six columns">
            <h3>Your account information</h3>

            <form method="POST" action="" accept-charset="UTF-8" v-on:submit.stop.prevent="login()">
                <fieldset>
                    <div class="form-group" v-bind:class="{'has-error': ('email' in errors) }">
                        <input
                            placeholder="Email"
                            class="form-control"
                            autofocus=""
                            name="email"
                            type="text"
                            autocomplete="off"
                            v-model="credentials.email">
                        <form-error v-if="'email' in errors" :errors="errors.email"></form-error>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': ('password' in errors) }">
                        <input
                            type="password"
                            class="form-control js-login__password "
                            placeholder="Enter your password"
                            v-model="credentials.password">
                        <form-error v-if="'password' in errors" :errors="errors.password"></form-error>
                    </div>
                    <button
                        data-id="login.submit"
                        class="btn btn-primary solid blank js-login__submit">
                        Login &nbsp;
                        <i class="fa fa-arrow-circle-o-right"></i>
                    </button>

                    <br><br><br>

                    <router-link :to="{ name: 'passwordResetEmail' }">Forgot your password?</router-link><br> Don’t have an account? &nbsp;
                    <a href="#">Sign up here.</a>
                </fieldset>

            </form>
        </div>

        <div class="six columns">
            <h3>Login with provider</h3>
            <ul class="icons">
                <li>
                    <a title='google' v-bind:href="google" class="icon fa-google"><span class="label">Google</span></a>
                </li>
                <li>
                    <a title='github' v-bind:href="github" class="icon fa-github"><span class='label'>Github</span></a>
                </li>
                <li>
                    <a title='bitbucket' v-bind:href="bitbucket" class="icon fa-bitbucket"><span class='label'>Bitbucket</span></a>
                </li>
            </ul>
        </div>

        </div>
    </div>
</div>
</template>

<script>
import FormError from '../FormError.vue';

export default {
  name: 'login',
  data() {
    return {
      google: 'http://127.0.0.1:8000/auth/google',
      github: 'http://127.0.0.1:8000/auth/github',
      bitbucket: 'http://127.0.0.1:8000/auth/bitbucket',
      credentials: {
        email: '',
        password: '',
        _token: window.Laravel.csrfToken,
      },
      loggingIn: false,
      errors: {},
    };
  },
  components: {
    'form-error': FormError,
  },
  methods: {
    login() {
      this.$store.dispatch('login', this.credentials)
        .then((res) => {
          router.push({name: 'home'});
        })
        .catch((err) => {
          this.errors = err.response.data.errors;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.ev-login {
    margin-top: 100px;
}
</style>
