<template>
  <div>
    <header class="major">
        <h2>Password reset</h2>
    </header>
    <form v-on:submit.stop.prevent="resetPassword()">
      <div class="row">
        <div v-if="showForm" class="twelve columns">
          <label for="password-reset-email">Your email</label>
          <input
            class="u-full-width"
            type="email"
            v-model="form.email"
            placeholder="test@mailbox.com"
            id="password-reset-email">
          <form-error v-if="'email' in errors" :errors="errors.email"></form-error>
        </div>
        <div v-else class="twelve columns">
          <strong>You should soon receive email with your password reset link</strong>
        </div>
      </div>
      <input class="button-primary" type="submit" value="Submit">
    </form>
  </div>
</template>

<script>
import FormError from '../FormError.vue';
import users from '../../api/users';
import {mapGetters} from 'vuex';

export default {
  components: {
    'form-error': FormError,
  },
  data() {
    return {
      showForm: true,
      form: {
        email: '',
        _token: window.Laravel.csrfToken,
      },
    };
  },
  computed: {
    ...mapGetters([
      'errors',
      // ...
    ]),
  },
  methods: {
    resetPassword() {
      users.emailPasswordResetToken(this.form)
        .then((res) => {
          this.showForm = false;
        })
        .catch((err) => {
          this.$store.commit('setErrors', err.response.data.errors);
        });
    },
  },
};
</script>
