<template>
<div>
    <header class="major">
        <h2>Regsiter</h2>
    </header>
    <div class="row">
        <div class="twelve columns">
            <h3>Your account information</h3>

            <form method="POST" action="/login" accept-charset="UTF-8" v-on:submit.stop.prevent="register()">
                <fieldset>
                    <div class="form-group" v-bind:class="{'has-error': ('username' in errors) }">
                        <input
                            placeholder="Username"
                            class="form-control"
                            autofocus=""
                            name="username"
                            type="text"
                            autocomplete="off"
                            v-model="credentials.username">
                        <form-error v-if="'username' in errors" :errors="errors.username"></form-error>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': ('email' in errors) }">
                        <input
                            placeholder="Email"
                            class="form-control"
                            autofocus=""
                            name="email"
                            type="text"
                            autocomplete="off"
                            v-model="credentials.email">
                        <form-error v-if="'email' in errors" :errors="errors.email"></form-error>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': ('password' in errors) }">
                        <input
                            type="password"
                            class="form-control js-login__password "
                            placeholder="Enter your password"
                            v-model="credentials.password">
                        <form-error v-if="'password' in errors" :errors="errors.password"></form-error>
                    </div>
                    <div class="form-group" v-bind:class="{'has-error': ('password' in errors) }">
                        <input
                            type="password"
                            class="form-control js-login__password "
                            placeholder="Enter your password"
                            v-model="credentials.password_repeat">
                    </div>
                    <button type="submit"
                        data-id="login.submit"
                        class="btn btn-primary solid blank js-login__submit">
                        Register
                    </button>
                </fieldset>

            </form>
        </div>
    </div>
</div>
</template>

<script>
import FormError from '../FormError.vue';

export default {
  name: 'register',
  data() {
    return {
      credentials: {
        username: '',
        email: '',
        password: '',
        password_repeat: '',
        _token: window.Laravel.csrfToken,
      },
      errors: {},
    };
  },
  components: {
    'form-error': FormError,
  },
  methods: {
    register() {
      this.$store.dispatch('register', this.credentials)
        .then((res) => {
          this.$router.push({name: 'userProfile', props: {id: res.data.id}});
        })
        .catch((err) => {
          this.errors = err.response.data.errors;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.ev-login {
    margin-top: 100px;
}
</style>
