<template>
<div>
    <header class="major">
        <h2>User profile</h2>
    </header>
    <form>
        <div class="row">
          <div class="six columns">
              <label for="username">Username</label>
              <span class="u-full-width" id="username">{{ profile.username }}</span>
          </div>
        </div>
        <div class="row">
          <div class="six columns">
              <label for="email">Email</label>
              <span class="u-full-width" id="email">{{ profile.email }}</span>
          </div>
        </div>
        <div
          class="row"
          v-if="profile.id != user.id && loggedIn">
          <div class="six columns">
              <button @click.stop.prevent="sendMessage">send message</button>
          </div>
        </div>
        <!-- TODO stackoverflow link -->
    </form>
</div>
</template>

<script>
import {THREAD_TYPE_USER} from '../../store/types';
import FormError from '../FormError.vue';
import {mapGetters, mapActions} from 'vuex';

export default {

  props: ['id'],
  data() {
    return {};
  },
  computed: {
    ...mapGetters([
      'user',
      'profile',
      'loggedIn',
    ]),
  },
  methods: {
    sendMessage() {
      this.createThread({
        id: this.user.id,
        type: THREAD_TYPE_USER,
      }).then(() => {
        this.$router.push({name: 'messages'});
      });
    },
    ...mapActions([
      'createThread',
      'findUserProfile',
    ]),
  },
  components: {
    'form-error': FormError,
  },
  created() {
    if (this.id === this.user.id) {
      // TODO: create action
      this.$store.commit('SET_PROFILE', this.user);
    } else {
      this.findUserProfile(this.id);
    }
  },
};
</script>

<style lang="scss" scoped>
.ev-login {
    margin-top: 100px;
}
</style>
