<template>
  <div>
    <Short
      :project="project">
    </Short>
    <p>
      {{ project.content }}
    </p>

    <div v-if="project.project_website">
      {{ project.project_website }}
    </div>
    <div v-if="project.source_website">
      {{ project.source_website }}
    </div>
  </div>
</template>

<script>
import Short from './Short';
import {mapGetters} from 'vuex';

export default {
  name: 'ProjectShow',
  components: {
    Short: Short,
  },
  computed: {
    ...mapGetters([
      'project',
    ]),
  },
  created() {
    this.$store.dispatch('getProject', this.$route.params.id);
  },
};
</script>
