<template>
  <div>
    <h1>Projects index</h1>
    <router-link
      v-if="loggedIn"
      :to="{ name: 'projects.create' }">
      <button>
        Add project
      </button>
    </router-link>
    <div v-for="(project, i) in projects">
      <Short
        :key="i"
        :project="project">
      </Short>
      <ul>
        <li>
          <router-link
            :to="{ name: 'projects.show', params: { id: project.id } }">
            View
          </router-link>
        </li>
        <li
          v-if="loggedIn && project.user_id == user.id">
          <router-link
            :to="{ name: 'projects.edit', params: { id: project.id } }">
            Edit
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Short from './Short';
import {mapGetters} from 'vuex';

export default {
  name: 'Projects',
  components: {
    Short: Short,
  },
  computed: {
    ...mapGetters([
      'user',
      'loggedIn',
      'projects',
    ]),
  },
  created() {
    if (this.$store.getters.projects.length === 0) {
      this.$store.dispatch('getProjects');
    }
  },
};
</script>
