<template>
<div>
  <header class="major">
    <h2>Edit project - {{ project.name }}</h2>
  </header>
  <div class="row">
    <div class="twelve columns">
      <form v-on:submit.stop.prevent="submit()">
        <fieldset>
          <div class="row">
            <div class="six columns">
              <div class="form-group" v-bind:class="{'has-error': ('name' in errors) }">
                <input
                  class="u-full-width"
                  placeholder="Project name"
                  autofocus="1"
                  name="name"
                  type="text"
                  autocomplete="off"
                  v-model="project.name">
              </div>
            </div>
            <div class="six columns">
              <div class="field-description">
                * Project name
              </div>
              <form-error v-if="'name' in errors" :errors="errors.name"></form-error>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <div class="form-group" v-bind:class="{'has-error': ('description' in errors) }">
                <textarea
                  placeholder="Project description"
                  v-model="project.description"
                  class="u-full-width description"></textarea>
              </div>
            </div>
            <div class="six columns">
              <div class="field-description">
                * Short project summary between 200 and 400 ({{ descLength }}) characters
              </div>
              <form-error v-if="'description' in errors" :errors="errors.description"></form-error>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <div class="form-group" v-bind:class="{'has-error': ('content' in errors) }">
                <textarea
                  placeholder="Project content"
                  rows="10"
                  v-model="project.content"
                  class="u-full-width content"></textarea>
              </div>
            </div>
            <div class="six columns">
              <div class="field-description">
                * Project description
              </div>
              <form-error v-if="'content' in errors" :errors="errors.content"></form-error>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <div class="form-group" v-bind:class="{'has-error': ('project_website' in errors) }">
                <input
                  class="u-full-width"
                  placeholder="Project website"
                  autofocus="1"
                  name="project_website"
                  type="text"
                  autocomplete="off"
                  v-model="project.project_website">
              </div>
            </div>
            <div class="six columns">
              <div class="field-description">
                Project's website (if available)
              </div>
              <form-error v-if="'project_website' in errors" :errors="errors.project_website"></form-error>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <div class="form-group" v-bind:class="{'has-error': ('source_website' in errors) }">
                <input
                  class="u-full-width"
                  placeholder="Source website"
                  autofocus="1"
                  name="source_website"
                  type="text"
                  autocomplete="off"
                  v-model="project.source_website">
              </div>
            </div>
            <div class="six columns">
              <div class="field-description">
                Project's source (if available)
              </div>
              <form-error v-if="'source_website' in errors" :errors="errors.source_website"></form-error>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <button type="submit">
                Submit project
              </button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</template>

<script>
import FormError from '../FormError.vue';

export default {
  name: 'ProjectEdit',
  components: {
    'form-error': FormError,
  },
  methods: {
    submit() {
      this.$store.dispatch('editProject', this.project)
        .then(res => {
          alert('Successfully updated the project');
        })
        .catch(err => {
          this.errors = err.response.data.errors;
        });
    },
  },
  computed: {
    descLength() {
      return this.project.description.length;
    },
  },
  data() {
    return {
      errors: [],
      project: {},
    };
  },
  created() {
    this.$store.dispatch('getProject', this.$route.params.id)
      .then(res => {
        let tmp = {};
        Object.assign(tmp, this.$store.getters.project);
        this.project = tmp;
      });
  },
};
</script>

<style lang="scss" scoped>
textarea {
  &.description {
    height: 100px;
  }
  &.content {
    height: 250px;
  }
}
</style>
