<template>
  <div>
    <h3>{{ project.name }}</h3>
    <p>
      {{ project.description }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'Short',
  props: ['project'],
};
</script>
