<template>
    <span class="help-block">
        <div v-if="Array.isArray(errors)">
            <ul>
                <li v-for="error in errors">
                    {{ error }}
                </li>
            </ul>
        </div>
        <div v-else>
            {{ errors }}
        </div>
    </span>
</template>

<script>
export default {
  name: 'form-error',
  props: ['errors'],
};
</script>
