<template>
  <section class="header">
    <h1>Project Pegasus</h1>
    <div class="row">
      <div class="twelve columns">
        <ul>

          <li>
            <router-link :to="{ name: 'home' }">Home</router-link>
          </li>

          <li v-if="loggedIn">
            <router-link :to="{ name: 'userProfile', params: { id: user.id }}">Profile</router-link>
          </li>

          <li v-if="loggedIn">
            <router-link :to="{ name: 'messages' }">Messages</router-link>
          </li>

          <li>
            <router-link :to="{ name: 'projects' }">Projects</router-link>
          </li>

          <li v-if="!loggedIn">
            <router-link :to="{ name: 'login' }">Login</router-link>
          </li>

          <li v-if="!loggedIn">
            <router-link :to="{ name: 'register' }">Register</router-link>
          </li>


          <li v-if="loggedIn">
            <a href="javascript:;" @click="logout">Logout {{ username }}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import {mapGetters} from 'vuex';

export default {
  name: 'Header',
  methods: {
    logout() {
      return this.$store.dispatch('logout');
    },
  },
  computed: {
    ...mapGetters([
      'loggedIn',
      'username',
      'user',
      // ...
    ]),
  },
};
</script>

<style type="scss" scoped>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, span {
    display: block;
    text-align: center;
    padding-right: 32px;
    text-decoration: none;
}

li a:hover {
    color: grey;
}

.router-link-exact-active {
  color: red !important;
  text-decoration: none;
}
</style>
