<template>
  <div class="messaging">
    <thread-section></thread-section>
    <message-section></message-section>
  </div>
</template>

<script>
import ThreadSection from './ThreadSection.vue';
import MessageSection from './MessageSection.vue';
import moment from 'moment';

export default {
  name: 'Messages',
  data() {
    return {
      moment: moment,
    };
  },
  components: {
    ThreadSection,
    MessageSection,
  },
  computed: {
    user: function() {
      return this.$store.getters.user;
    },
  },
  beforeMount: function() {
    if (this.$store.getters.threads.length === 0) {
      this.$store.dispatch('getThreads');
    }
  },
};
</script>

<style src="../../../css/messaging.css"></style>
