<template>
  <div class="message-section">

    <h3 class="message-thread-heading">{{ thread.name }}</h3>

    <ul class="message-list" ref="list">
      <message
        v-for="message in messages"
        :key="message.id"
        :message="message"
      >
      </message>
    </ul>

    <textarea class="message-composer" @keyup.enter.prevent="sendMessage"></textarea>

  </div>
</template>


<script>
import Message from './Message.vue';
import {mapGetters} from 'vuex';

export default {
  name: 'MessageSection',
  components: {
    Message,
  },
  computed: {
    ...mapGetters({
      thread: 'currentThread',
      messages: 'currentThreadMessages',
      user: 'user',
    }),
  },
  watch: {
    'thread.lastMessage': function() {
      this.$nextTick(() => {
        const ul = this.$refs.list;
        ul.scrollTop = ul.scrollHeight;
      });
    },
  },
  methods: {
    sendMessage(e) {
      const text = e.target.value.trim();
      if (text) {
        // prevent sending on non selected thread
        if (!this.thread.id) {
          return;
        }

        this.$store.dispatch('sendMessage', {
          text,
          threadId: this.thread.id,
        }).then((res) => {
          e.target.value = '';
        }).catch((err) => {
          e.target.value = text.slice(0, -1);
        });
      }
    },
  },
};
</script>
