<template>
  <li class="message-list-item">
    <h5 class="message-author-name">{{ message.author.username }}</h5>
    <div class="message-time">
      {{ message.created_at | ago }} <br>
    </div>
    <div class="message-text">{{ message.content }}</div>
  </li>
</template>

<script>
import tsFilters from '../../filters/timestamp';

export default {
  name: 'Message',
  props: {
    message: Object,
  },
  filters: {
    ...tsFilters,
  },
};
</script>
