<template>
  <div class="thread-section">
    <h3 class="message-thread-heading"></h3>
    <ul class="thread-list">
    <thread
      v-for="thread in threads"
      :key="thread.id"
      :id="thread.id"
      :active="thread.id === currentThread.id"
      :last-message="thread.lastMessage"
      :user="thread.user"
      :title="thread.title"
      :participants="thread.participants"
    >
    </thread>

    </ul>

  </div>
</template>

<script>
import Thread from './Thread.vue';
import {
  mapGetters,
  mapActions,
} from 'vuex';

export default {
  name: 'ThreadSection',
  components: {
    Thread,
  },
  computed: {
    ...mapGetters([
      'threads',
      'currentThread',
    ]),
  },
  methods: {
    ...mapActions([
      'switchThread',
      'createThread',
    ]),
  },
};
</script>