<template>
  <li
    class="thread-list-item"
    :class="{ active: active }"
    @click="switchThread(id)">
    <h5 class="thread-name">{{ threadName }}</h5>
    <div class="thread-time">
      <div v-if="lastMessage.created_at">
        {{ lastMessage.created_at | ago }}
      </div>
    </div>
    <div class="thread-last-message">
      <div v-if="lastMessage.author">
        {{ lastMessage.author.username }} -> {{ lastMessage.content }}
      </div>
    </div>
  </li>
</template>

<script>
import {
  mapActions,
} from 'vuex';
import tsFilters from '../../filters/timestamp';

export default {
  name: 'Thread',
  props: {
    id: Number,
    title: String,
    user: Object,
    participants: Array,
    lastMessage: Object,
    active: Boolean,
  },
  computed: {
    threadName() {
      return this.title || this.participants
        .map((el) => el.username)
        .join(', ');
    },
  },
  methods: {
    ...mapActions([
      'switchThread',
    ]),
  },
  filters: {
    ...tsFilters,
  },
};
</script>
