<template>
  <div class="container">
    <main-header></main-header>
    <router-view></router-view>
  </div>
</template>

<script>
import Header from './components/layout/Header';

export default {
  name: 'app-main',
  components: {
    'main-header': Header,
  },
};
</script>